html, body {
    height: 100vh; 
    margin: 0;
    font-family: 'Arial', sans-serif;
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(135deg, #a8a7a6, #e0e0e0);
    background-attachment: fixed;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    overflow-y: scroll;
    overflow-x: hidden;
    min-height: 200vh;
}

/* Cabeçalho */
#Header {
    display: flex;
    justify-content: center;
    gap: 20px; /* Espaçamento entre os links */
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px 0;
    border-radius: 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

#tudin {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px;
    transition: color 0.3s ease;
}

#tudin:hover {
    color: #f39c12;
}

/* Título Principal */
#Inicio {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh; /* Garantir que ocupe 100% da altura da tela */
    padding: 20px;
    text-align: center;
    transform: translate(-400px, 650px);
    margin-top: 700px;
}

.inicio-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin-top: 60px; /* Espaçamento entre o topo */
    flex-direction: row; /* Garantir que os itens fiquem lado a lado */
    transform: translate(-300px, -30px);
    margin-top: 200px;
}

#TituloPrin {
    font-size: 50px;
    font-weight: 700;
    color: #2c3e50;
    margin-bottom: 20px;
    text-align: left;
    transform: translate(590px, -150px);
}

#TextoPrin {
    margin-bottom: 60px;
    color: #34495e;
    font-style: italic;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    
}

.programando {
    max-width: 550px;
    width: 700px;
    height: 500px;
    margin-top: 30px;
    animation: fadeInUp 1s ease-in-out;
    border-radius: 10px; /* Adicionando borda arredondada à imagem */
    position: absolute;
    left: 1350px;
    bottom: -70px;
}

/* Animação para a imagem */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Botão */
#contate-me {
    margin-top: 30px;
    padding: 15px 30px;
    border-radius: 50px;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: #3498db;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 0.3s ease;
}

#contate-me:hover {
    background-color: #2980b9;
    transform: scale(1.05); /* Efeito de aumento do botão */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}



/* Animação para a imagem */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.container{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 100px;
}

#TituloSeg{
    margin-top: 200px;
    display: flex;
    justify-content: center;
    gap: 10px;
   
}

.especialidades{
    color: #2c3e50;
}

#Especialidade{
    margin-top: 540px;
}

.Front{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textoFront{
    text-align: center; /* Alinha o texto ao centro */
}

.Front:hover{
    transform: scale(1.15); /* Aumenta a div em 5% */
    transition: 1s;
    cursor: pointer;
    box-shadow: 5px 5px 7px rgb(66, 66, 66);
    border-radius: 30px;
}

#spanFront{
    font-weight: bold;
    padding: 14px;
    font-size: 25px;
}

.Back{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.Back:hover{
    transform: scale(1.15); /* Aumenta a div em 5% */
    transition: 1s;
    cursor: pointer;
    box-shadow: 5px 5px 7px rgb(66, 66, 66);
    border-radius: 30px;
}

#spanBack{
    font-weight: bold;
    padding: 14px;
    font-size: 25px;
}

.Banco{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.Banco:hover{
    transform: scale(1.15); /* Aumenta a div em 5% */
    transition: 1s;
    cursor: pointer;
    box-shadow: 5px 5px 7px rgb(66, 66, 66);
    border-radius: 30px;
}

#spanBanco{
    font-weight: bold;
    padding: 14px;
    font-size: 25px;
}

#imagem-principal{
    transform: translate(100px, 230px); 
    border-radius: 10px;
}

#Sobre{
    display: flex;
    align-items: stretch;
    flex-direction: column;
    flex-wrap: wrap;
}

.text1{
    padding: 15px;
    transform: translate(500px, -130px); 
    text-align: left;

}

#Nome{
    color: #2c3e50;
}

.aprensentação{
    transform: translate(530px, -130px); 
    text-align: left;
}

.Hyperlinks{
    display: flex;
    flex-direction: row;
    gap: 20px;
    
}

#Github{
    transform: translate(530px, -130px); 
    border-radius: 100px;
}

#Github:hover {
    transition: 0.5s;
    width: 70px;
    height: 70px;
    box-shadow: 5px 5px 7px rgb(66, 66, 66);
    
    
}

#Github:hover + #teste{
    transition: 1s;
    opacity: 1;
    position: absolute;
}

#teste{
    opacity: 0;
    transform: translate(533px, -50px); 
    color: #2c3e50;
    text-decoration: none;
}

.link{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    transition: transform 0.5s, box-shadow 0.5s;
    position: relative;
}

.carousel-item img {
    max-width: 50%; /* Reduz a largura da imagem */
    height: auto;
    margin: 0 auto; /* Centraliza horizontalmente */
  }

.textodoCarousel{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.carousel-indicators{
    position: absolute;
    bottom: 55px;
}

.carrossel-container {
    display: flex;
    gap: 300px;
}

.carrossel-item {
    position: relative;
    width: 280px;
    height: 500px;
    overflow: hidden;
    border: 2px solid #ddd;
    transform: translate(330px, 40px); 
    border-radius: 30px;
}

.carrossel-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 1s ease-in-out;
}

.carrossel-item img:not(:first-child) {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
}

.carrossel-item:hover .carrossel-img {
    opacity: 1;
}

.carrossel-item:hover img {
    opacity: 0;
}

#cor{
    color: #2c3e50;
}

#tituloPro{
    display: flex;
    justify-content: center;
    gap: 15px;
}

#container-COn{
    background-color: rgba(71, 179, 57, 0.322);
}


#Contato {
    text-align: center;
    margin-top: 60px;
}

.contato-info p {
    font-size: 18px;
    margin: 10px 0;
}

.contato-info a {
    color: #3498db;
    text-decoration: none;
    font-weight: bold;
}

.contato-info a:hover {
    text-decoration: underline;
}

#Inicio{
    padding: 40px;
}